<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tg.shop.trade.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.tg.shop.core.domain.trade.entity.Order">
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="parent_order_sn" jdbcType="VARCHAR" property="parentOrderSn" />
    <result column="origin_order_sn" jdbcType="VARCHAR" property="originOrderSn" />
    <result column="buyer_id" jdbcType="VARCHAR" property="buyerId" />
    <result column="buyer_name" jdbcType="VARCHAR" property="buyerName" />
    <result column="buyer_mobile" jdbcType="VARCHAR" property="buyerMobile" />
    <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
    <result column="store_id" jdbcType="VARCHAR" property="storeId" />
    <result column="order_state" jdbcType="INTEGER" property="orderState" />
    <result column="goods_amount" jdbcType="DECIMAL" property="goodsAmount" />
    <result column="freight_charge" jdbcType="DECIMAL" property="freightCharge" />
    <result column="promote_id" jdbcType="VARCHAR" property="promoteId" />
    <result column="promote_discount" jdbcType="DECIMAL" property="promoteDiscount" />
    <result column="integral_num" jdbcType="INTEGER" property="integralNum" />
    <result column="integral_discount" jdbcType="DECIMAL" property="integralDiscount" />
    <result column="adjust_amount" jdbcType="DECIMAL" property="adjustAmount" />
    <result column="change_payment_price_time" jdbcType="TIMESTAMP" property="changePaymentPriceTime" />
    <result column="change_payment_price_operator" jdbcType="VARCHAR" property="changePaymentPriceOperator" />
    <result column="total_discount" jdbcType="DECIMAL" property="totalDiscount" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
    <result column="trade_out_sn" jdbcType="VARCHAR" property="tradeOutSn" />
    <result column="trade_sn" jdbcType="VARCHAR" property="tradeSn" />
    <result column="payment_price" jdbcType="DECIMAL" property="paymentPrice" />
    <result column="payment_state" jdbcType="INTEGER" property="paymentState" />
    <result column="payment_type" jdbcType="INTEGER" property="paymentType" />
    <result column="payment_kind" jdbcType="INTEGER" property="paymentKind" />
    <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="invoice_need" jdbcType="INTEGER" property="invoiceNeed" />
    <result column="invoice_title" jdbcType="VARCHAR" property="invoiceTitle" />
    <result column="invoice_corporation_tax" jdbcType="VARCHAR" property="invoiceCorporationTax" />
    <result column="receive_type" jdbcType="INTEGER" property="receiveType" />
    <result column="address_receiver_name" jdbcType="VARCHAR" property="addressReceiverName" />
    <result column="address_receiver_mobile" jdbcType="VARCHAR" property="addressReceiverMobile" />
    <result column="address_zip_code" jdbcType="VARCHAR" property="addressZipCode" />
    <result column="address_province" jdbcType="VARCHAR" property="addressProvince" />
    <result column="address_city" jdbcType="VARCHAR" property="addressCity" />
    <result column="address_county" jdbcType="VARCHAR" property="addressCounty" />
    <result column="address_detail_address" jdbcType="VARCHAR" property="addressDetailAddress" />
    <result column="logistics_company" jdbcType="VARCHAR" property="logisticsCompany" />
    <result column="logistics_company_code" jdbcType="VARCHAR" property="logisticsCompanyCode" />
    <result column="logistics_no" jdbcType="VARCHAR" property="logisticsNo" />
    <result column="logistics_remark" jdbcType="VARCHAR" property="logisticsRemark" />
    <result column="order_remark" jdbcType="VARCHAR" property="orderRemark" />
    <result column="seller_remark" jdbcType="VARCHAR" property="sellerRemark" />
    <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime" />
    <result column="deliver_time" jdbcType="TIMESTAMP" property="deliverTime" />
    <result column="confirm_receipt_time" jdbcType="TIMESTAMP" property="confirmReceiptTime" />
    <result column="order_finish_time" jdbcType="TIMESTAMP" property="orderFinishTime" />
    <result column="buyer_evaluate" jdbcType="INTEGER" property="buyerEvaluate" />
    <result column="seller_evaluate" jdbcType="INTEGER" property="sellerEvaluate" />
    <result column="refund" jdbcType="INTEGER" property="refund" />
    <result column="refund_state" jdbcType="INTEGER" property="refundState" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="refund_time" jdbcType="TIMESTAMP" property="refundTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    order_id, order_sn, parent_id, parent_order_sn, origin_order_sn, buyer_id, buyer_name, 
    buyer_mobile, seller_id, store_id, order_state, goods_amount, freight_charge, promote_id, 
    promote_discount, integral_num, integral_discount, adjust_amount, change_payment_price_time, 
    change_payment_price_operator, total_discount, total_price, trade_out_sn, trade_sn, 
    payment_price, payment_state, payment_type, payment_kind, payment_time, invoice_need, 
    invoice_title, invoice_corporation_tax, receive_type, address_receiver_name, address_receiver_mobile, 
    address_zip_code, address_province, address_city, address_county, address_detail_address, 
    logistics_company, logistics_company_code, logistics_no, logistics_remark, order_remark, 
    seller_remark, cancel_time, deliver_time, confirm_receipt_time, order_finish_time, 
    buyer_evaluate, seller_evaluate, refund, refund_state, is_del, refund_time, creator, 
    create_time, modifier, modify_time, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trade_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from trade_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tg.shop.core.domain.trade.entity.Order">
    insert into trade_order (order_id, order_sn, parent_id, 
      parent_order_sn, origin_order_sn, buyer_id, 
      buyer_name, buyer_mobile, seller_id, 
      store_id, order_state, goods_amount, 
      freight_charge, promote_id, promote_discount, 
      integral_num, integral_discount, adjust_amount, 
      change_payment_price_time, change_payment_price_operator, 
      total_discount, total_price, trade_out_sn, 
      trade_sn, payment_price, payment_state, 
      payment_type, payment_kind, payment_time, 
      invoice_need, invoice_title, invoice_corporation_tax, 
      receive_type, address_receiver_name, address_receiver_mobile, 
      address_zip_code, address_province, address_city, 
      address_county, address_detail_address, logistics_company, 
      logistics_company_code, logistics_no, logistics_remark, 
      order_remark, seller_remark, cancel_time, 
      deliver_time, confirm_receipt_time, order_finish_time, 
      buyer_evaluate, seller_evaluate, refund, 
      refund_state, is_del, refund_time, 
      creator, create_time, modifier, 
      modify_time, version)
    values (#{orderId,jdbcType=VARCHAR}, #{orderSn,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{parentOrderSn,jdbcType=VARCHAR}, #{originOrderSn,jdbcType=VARCHAR}, #{buyerId,jdbcType=VARCHAR}, 
      #{buyerName,jdbcType=VARCHAR}, #{buyerMobile,jdbcType=VARCHAR}, #{sellerId,jdbcType=VARCHAR}, 
      #{storeId,jdbcType=VARCHAR}, #{orderState,jdbcType=INTEGER}, #{goodsAmount,jdbcType=DECIMAL}, 
      #{freightCharge,jdbcType=DECIMAL}, #{promoteId,jdbcType=VARCHAR}, #{promoteDiscount,jdbcType=DECIMAL}, 
      #{integralNum,jdbcType=INTEGER}, #{integralDiscount,jdbcType=DECIMAL}, #{adjustAmount,jdbcType=DECIMAL}, 
      #{changePaymentPriceTime,jdbcType=TIMESTAMP}, #{changePaymentPriceOperator,jdbcType=VARCHAR}, 
      #{totalDiscount,jdbcType=DECIMAL}, #{totalPrice,jdbcType=DECIMAL}, #{tradeOutSn,jdbcType=VARCHAR}, 
      #{tradeSn,jdbcType=VARCHAR}, #{paymentPrice,jdbcType=DECIMAL}, #{paymentState,jdbcType=INTEGER}, 
      #{paymentType,jdbcType=INTEGER}, #{paymentKind,jdbcType=INTEGER}, #{paymentTime,jdbcType=TIMESTAMP}, 
      #{invoiceNeed,jdbcType=INTEGER}, #{invoiceTitle,jdbcType=VARCHAR}, #{invoiceCorporationTax,jdbcType=VARCHAR}, 
      #{receiveType,jdbcType=INTEGER}, #{addressReceiverName,jdbcType=VARCHAR}, #{addressReceiverMobile,jdbcType=VARCHAR}, 
      #{addressZipCode,jdbcType=VARCHAR}, #{addressProvince,jdbcType=VARCHAR}, #{addressCity,jdbcType=VARCHAR}, 
      #{addressCounty,jdbcType=VARCHAR}, #{addressDetailAddress,jdbcType=VARCHAR}, #{logisticsCompany,jdbcType=VARCHAR}, 
      #{logisticsCompanyCode,jdbcType=VARCHAR}, #{logisticsNo,jdbcType=VARCHAR}, #{logisticsRemark,jdbcType=VARCHAR}, 
      #{orderRemark,jdbcType=VARCHAR}, #{sellerRemark,jdbcType=VARCHAR}, #{cancelTime,jdbcType=TIMESTAMP}, 
      #{deliverTime,jdbcType=TIMESTAMP}, #{confirmReceiptTime,jdbcType=TIMESTAMP}, #{orderFinishTime,jdbcType=TIMESTAMP}, 
      #{buyerEvaluate,jdbcType=INTEGER}, #{sellerEvaluate,jdbcType=INTEGER}, #{refund,jdbcType=INTEGER}, 
      #{refundState,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER}, #{refundTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tg.shop.core.domain.trade.entity.Order">
    insert into trade_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderSn != null">
        order_sn,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="parentOrderSn != null">
        parent_order_sn,
      </if>
      <if test="originOrderSn != null">
        origin_order_sn,
      </if>
      <if test="buyerId != null">
        buyer_id,
      </if>
      <if test="buyerName != null">
        buyer_name,
      </if>
      <if test="buyerMobile != null">
        buyer_mobile,
      </if>
      <if test="sellerId != null">
        seller_id,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="orderState != null">
        order_state,
      </if>
      <if test="goodsAmount != null">
        goods_amount,
      </if>
      <if test="freightCharge != null">
        freight_charge,
      </if>
      <if test="promoteId != null">
        promote_id,
      </if>
      <if test="promoteDiscount != null">
        promote_discount,
      </if>
      <if test="integralNum != null">
        integral_num,
      </if>
      <if test="integralDiscount != null">
        integral_discount,
      </if>
      <if test="adjustAmount != null">
        adjust_amount,
      </if>
      <if test="changePaymentPriceTime != null">
        change_payment_price_time,
      </if>
      <if test="changePaymentPriceOperator != null">
        change_payment_price_operator,
      </if>
      <if test="totalDiscount != null">
        total_discount,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
      <if test="tradeOutSn != null">
        trade_out_sn,
      </if>
      <if test="tradeSn != null">
        trade_sn,
      </if>
      <if test="paymentPrice != null">
        payment_price,
      </if>
      <if test="paymentState != null">
        payment_state,
      </if>
      <if test="paymentType != null">
        payment_type,
      </if>
      <if test="paymentKind != null">
        payment_kind,
      </if>
      <if test="paymentTime != null">
        payment_time,
      </if>
      <if test="invoiceNeed != null">
        invoice_need,
      </if>
      <if test="invoiceTitle != null">
        invoice_title,
      </if>
      <if test="invoiceCorporationTax != null">
        invoice_corporation_tax,
      </if>
      <if test="receiveType != null">
        receive_type,
      </if>
      <if test="addressReceiverName != null">
        address_receiver_name,
      </if>
      <if test="addressReceiverMobile != null">
        address_receiver_mobile,
      </if>
      <if test="addressZipCode != null">
        address_zip_code,
      </if>
      <if test="addressProvince != null">
        address_province,
      </if>
      <if test="addressCity != null">
        address_city,
      </if>
      <if test="addressCounty != null">
        address_county,
      </if>
      <if test="addressDetailAddress != null">
        address_detail_address,
      </if>
      <if test="logisticsCompany != null">
        logistics_company,
      </if>
      <if test="logisticsCompanyCode != null">
        logistics_company_code,
      </if>
      <if test="logisticsNo != null">
        logistics_no,
      </if>
      <if test="logisticsRemark != null">
        logistics_remark,
      </if>
      <if test="orderRemark != null">
        order_remark,
      </if>
      <if test="sellerRemark != null">
        seller_remark,
      </if>
      <if test="cancelTime != null">
        cancel_time,
      </if>
      <if test="deliverTime != null">
        deliver_time,
      </if>
      <if test="confirmReceiptTime != null">
        confirm_receipt_time,
      </if>
      <if test="orderFinishTime != null">
        order_finish_time,
      </if>
      <if test="buyerEvaluate != null">
        buyer_evaluate,
      </if>
      <if test="sellerEvaluate != null">
        seller_evaluate,
      </if>
      <if test="refund != null">
        refund,
      </if>
      <if test="refundState != null">
        refund_state,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="refundTime != null">
        refund_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderSn != null">
        #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentOrderSn != null">
        #{parentOrderSn,jdbcType=VARCHAR},
      </if>
      <if test="originOrderSn != null">
        #{originOrderSn,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="buyerName != null">
        #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerMobile != null">
        #{buyerMobile,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null">
        #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null">
        #{orderState,jdbcType=INTEGER},
      </if>
      <if test="goodsAmount != null">
        #{goodsAmount,jdbcType=DECIMAL},
      </if>
      <if test="freightCharge != null">
        #{freightCharge,jdbcType=DECIMAL},
      </if>
      <if test="promoteId != null">
        #{promoteId,jdbcType=VARCHAR},
      </if>
      <if test="promoteDiscount != null">
        #{promoteDiscount,jdbcType=DECIMAL},
      </if>
      <if test="integralNum != null">
        #{integralNum,jdbcType=INTEGER},
      </if>
      <if test="integralDiscount != null">
        #{integralDiscount,jdbcType=DECIMAL},
      </if>
      <if test="adjustAmount != null">
        #{adjustAmount,jdbcType=DECIMAL},
      </if>
      <if test="changePaymentPriceTime != null">
        #{changePaymentPriceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changePaymentPriceOperator != null">
        #{changePaymentPriceOperator,jdbcType=VARCHAR},
      </if>
      <if test="totalDiscount != null">
        #{totalDiscount,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="tradeOutSn != null">
        #{tradeOutSn,jdbcType=VARCHAR},
      </if>
      <if test="tradeSn != null">
        #{tradeSn,jdbcType=VARCHAR},
      </if>
      <if test="paymentPrice != null">
        #{paymentPrice,jdbcType=DECIMAL},
      </if>
      <if test="paymentState != null">
        #{paymentState,jdbcType=INTEGER},
      </if>
      <if test="paymentType != null">
        #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="paymentKind != null">
        #{paymentKind,jdbcType=INTEGER},
      </if>
      <if test="paymentTime != null">
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceNeed != null">
        #{invoiceNeed,jdbcType=INTEGER},
      </if>
      <if test="invoiceTitle != null">
        #{invoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="invoiceCorporationTax != null">
        #{invoiceCorporationTax,jdbcType=VARCHAR},
      </if>
      <if test="receiveType != null">
        #{receiveType,jdbcType=INTEGER},
      </if>
      <if test="addressReceiverName != null">
        #{addressReceiverName,jdbcType=VARCHAR},
      </if>
      <if test="addressReceiverMobile != null">
        #{addressReceiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="addressZipCode != null">
        #{addressZipCode,jdbcType=VARCHAR},
      </if>
      <if test="addressProvince != null">
        #{addressProvince,jdbcType=VARCHAR},
      </if>
      <if test="addressCity != null">
        #{addressCity,jdbcType=VARCHAR},
      </if>
      <if test="addressCounty != null">
        #{addressCounty,jdbcType=VARCHAR},
      </if>
      <if test="addressDetailAddress != null">
        #{addressDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompany != null">
        #{logisticsCompany,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompanyCode != null">
        #{logisticsCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="logisticsNo != null">
        #{logisticsNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticsRemark != null">
        #{logisticsRemark,jdbcType=VARCHAR},
      </if>
      <if test="orderRemark != null">
        #{orderRemark,jdbcType=VARCHAR},
      </if>
      <if test="sellerRemark != null">
        #{sellerRemark,jdbcType=VARCHAR},
      </if>
      <if test="cancelTime != null">
        #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverTime != null">
        #{deliverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmReceiptTime != null">
        #{confirmReceiptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderFinishTime != null">
        #{orderFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buyerEvaluate != null">
        #{buyerEvaluate,jdbcType=INTEGER},
      </if>
      <if test="sellerEvaluate != null">
        #{sellerEvaluate,jdbcType=INTEGER},
      </if>
      <if test="refund != null">
        #{refund,jdbcType=INTEGER},
      </if>
      <if test="refundState != null">
        #{refundState,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="refundTime != null">
        #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tg.shop.core.domain.trade.entity.Order">
    update trade_order
    <set>
      <if test="orderSn != null">
        order_sn = #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentOrderSn != null">
        parent_order_sn = #{parentOrderSn,jdbcType=VARCHAR},
      </if>
      <if test="originOrderSn != null">
        origin_order_sn = #{originOrderSn,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        buyer_id = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="buyerName != null">
        buyer_name = #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerMobile != null">
        buyer_mobile = #{buyerMobile,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null">
        seller_id = #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null">
        order_state = #{orderState,jdbcType=INTEGER},
      </if>
      <if test="goodsAmount != null">
        goods_amount = #{goodsAmount,jdbcType=DECIMAL},
      </if>
      <if test="freightCharge != null">
        freight_charge = #{freightCharge,jdbcType=DECIMAL},
      </if>
      <if test="promoteId != null">
        promote_id = #{promoteId,jdbcType=VARCHAR},
      </if>
      <if test="promoteDiscount != null">
        promote_discount = #{promoteDiscount,jdbcType=DECIMAL},
      </if>
      <if test="integralNum != null">
        integral_num = #{integralNum,jdbcType=INTEGER},
      </if>
      <if test="integralDiscount != null">
        integral_discount = #{integralDiscount,jdbcType=DECIMAL},
      </if>
      <if test="adjustAmount != null">
        adjust_amount = #{adjustAmount,jdbcType=DECIMAL},
      </if>
      <if test="changePaymentPriceTime != null">
        change_payment_price_time = #{changePaymentPriceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changePaymentPriceOperator != null">
        change_payment_price_operator = #{changePaymentPriceOperator,jdbcType=VARCHAR},
      </if>
      <if test="totalDiscount != null">
        total_discount = #{totalDiscount,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="tradeOutSn != null">
        trade_out_sn = #{tradeOutSn,jdbcType=VARCHAR},
      </if>
      <if test="tradeSn != null">
        trade_sn = #{tradeSn,jdbcType=VARCHAR},
      </if>
      <if test="paymentPrice != null">
        payment_price = #{paymentPrice,jdbcType=DECIMAL},
      </if>
      <if test="paymentState != null">
        payment_state = #{paymentState,jdbcType=INTEGER},
      </if>
      <if test="paymentType != null">
        payment_type = #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="paymentKind != null">
        payment_kind = #{paymentKind,jdbcType=INTEGER},
      </if>
      <if test="paymentTime != null">
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceNeed != null">
        invoice_need = #{invoiceNeed,jdbcType=INTEGER},
      </if>
      <if test="invoiceTitle != null">
        invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="invoiceCorporationTax != null">
        invoice_corporation_tax = #{invoiceCorporationTax,jdbcType=VARCHAR},
      </if>
      <if test="receiveType != null">
        receive_type = #{receiveType,jdbcType=INTEGER},
      </if>
      <if test="addressReceiverName != null">
        address_receiver_name = #{addressReceiverName,jdbcType=VARCHAR},
      </if>
      <if test="addressReceiverMobile != null">
        address_receiver_mobile = #{addressReceiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="addressZipCode != null">
        address_zip_code = #{addressZipCode,jdbcType=VARCHAR},
      </if>
      <if test="addressProvince != null">
        address_province = #{addressProvince,jdbcType=VARCHAR},
      </if>
      <if test="addressCity != null">
        address_city = #{addressCity,jdbcType=VARCHAR},
      </if>
      <if test="addressCounty != null">
        address_county = #{addressCounty,jdbcType=VARCHAR},
      </if>
      <if test="addressDetailAddress != null">
        address_detail_address = #{addressDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompany != null">
        logistics_company = #{logisticsCompany,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompanyCode != null">
        logistics_company_code = #{logisticsCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="logisticsNo != null">
        logistics_no = #{logisticsNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticsRemark != null">
        logistics_remark = #{logisticsRemark,jdbcType=VARCHAR},
      </if>
      <if test="orderRemark != null">
        order_remark = #{orderRemark,jdbcType=VARCHAR},
      </if>
      <if test="sellerRemark != null">
        seller_remark = #{sellerRemark,jdbcType=VARCHAR},
      </if>
      <if test="cancelTime != null">
        cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverTime != null">
        deliver_time = #{deliverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmReceiptTime != null">
        confirm_receipt_time = #{confirmReceiptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderFinishTime != null">
        order_finish_time = #{orderFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buyerEvaluate != null">
        buyer_evaluate = #{buyerEvaluate,jdbcType=INTEGER},
      </if>
      <if test="sellerEvaluate != null">
        seller_evaluate = #{sellerEvaluate,jdbcType=INTEGER},
      </if>
      <if test="refund != null">
        refund = #{refund,jdbcType=INTEGER},
      </if>
      <if test="refundState != null">
        refund_state = #{refundState,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="refundTime != null">
        refund_time = #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tg.shop.core.domain.trade.entity.Order">
    update trade_order
    set order_sn = #{orderSn,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      parent_order_sn = #{parentOrderSn,jdbcType=VARCHAR},
      origin_order_sn = #{originOrderSn,jdbcType=VARCHAR},
      buyer_id = #{buyerId,jdbcType=VARCHAR},
      buyer_name = #{buyerName,jdbcType=VARCHAR},
      buyer_mobile = #{buyerMobile,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=VARCHAR},
      order_state = #{orderState,jdbcType=INTEGER},
      goods_amount = #{goodsAmount,jdbcType=DECIMAL},
      freight_charge = #{freightCharge,jdbcType=DECIMAL},
      promote_id = #{promoteId,jdbcType=VARCHAR},
      promote_discount = #{promoteDiscount,jdbcType=DECIMAL},
      integral_num = #{integralNum,jdbcType=INTEGER},
      integral_discount = #{integralDiscount,jdbcType=DECIMAL},
      adjust_amount = #{adjustAmount,jdbcType=DECIMAL},
      change_payment_price_time = #{changePaymentPriceTime,jdbcType=TIMESTAMP},
      change_payment_price_operator = #{changePaymentPriceOperator,jdbcType=VARCHAR},
      total_discount = #{totalDiscount,jdbcType=DECIMAL},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      trade_out_sn = #{tradeOutSn,jdbcType=VARCHAR},
      trade_sn = #{tradeSn,jdbcType=VARCHAR},
      payment_price = #{paymentPrice,jdbcType=DECIMAL},
      payment_state = #{paymentState,jdbcType=INTEGER},
      payment_type = #{paymentType,jdbcType=INTEGER},
      payment_kind = #{paymentKind,jdbcType=INTEGER},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      invoice_need = #{invoiceNeed,jdbcType=INTEGER},
      invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
      invoice_corporation_tax = #{invoiceCorporationTax,jdbcType=VARCHAR},
      receive_type = #{receiveType,jdbcType=INTEGER},
      address_receiver_name = #{addressReceiverName,jdbcType=VARCHAR},
      address_receiver_mobile = #{addressReceiverMobile,jdbcType=VARCHAR},
      address_zip_code = #{addressZipCode,jdbcType=VARCHAR},
      address_province = #{addressProvince,jdbcType=VARCHAR},
      address_city = #{addressCity,jdbcType=VARCHAR},
      address_county = #{addressCounty,jdbcType=VARCHAR},
      address_detail_address = #{addressDetailAddress,jdbcType=VARCHAR},
      logistics_company = #{logisticsCompany,jdbcType=VARCHAR},
      logistics_company_code = #{logisticsCompanyCode,jdbcType=VARCHAR},
      logistics_no = #{logisticsNo,jdbcType=VARCHAR},
      logistics_remark = #{logisticsRemark,jdbcType=VARCHAR},
      order_remark = #{orderRemark,jdbcType=VARCHAR},
      seller_remark = #{sellerRemark,jdbcType=VARCHAR},
      cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      deliver_time = #{deliverTime,jdbcType=TIMESTAMP},
      confirm_receipt_time = #{confirmReceiptTime,jdbcType=TIMESTAMP},
      order_finish_time = #{orderFinishTime,jdbcType=TIMESTAMP},
      buyer_evaluate = #{buyerEvaluate,jdbcType=INTEGER},
      seller_evaluate = #{sellerEvaluate,jdbcType=INTEGER},
      refund = #{refund,jdbcType=INTEGER},
      refund_state = #{refundState,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      refund_time = #{refundTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>